@model IEnumerable< Model.DTO.DTO_Ad.DTO_Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Danh sách tài khoản Admin</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @*<th>RoleName</th>*@
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @*<th>RoleName</th>*@
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.idUser }) |
                                @Html.ActionLink("Details", "Details", new { id = item.idUser }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.idUser })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
