
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_.cshtml";
}

@using Model.DTO.DTO_Client;



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="~/images/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/slick/slick.css" rel="stylesheet">
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style_SP.css" rel="stylesheet">
</head>

<body>
    <!-- Top bar Start -->
    <!-- Top bar End -->
    <!-- Nav Bar Start -->
    <!-- Nav Bar End -->
    <!-- Bottom Bar Start -->
    <!-- Bottom Bar End -->
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="~/Product/Index">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Detail Start -->
    <div class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product-detail-top">


                        @foreach (DTO_Item_Client item in (List<DTO_Item_Client>)Session["cart"])
                        {
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        <img src="@Url.Content(item.Product.Photo)" />

                                    </div>
                                    <div class="product-slider-single-nav normal-slider">
                                        <div class="slider-nav-img"> <img src="@Url.Content(item.Product.Photo)" /></div>

                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">
                                        @item.Product.Name
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div >
                                            <h4>Price:</h4>
                                            <p><span>@item.Product.Price</span>VNĐ</p>
                                        </div>
                                        <div class="quantity">
                                            <h4>Quantity:</h4>
                                            <div class="quantity">
                                                @*<button class="btn-minus"><i class="fa fa-minus"></i></button>*@
                                                <a class="btn-minus" href="@Url.Action("Giam", "Product", new { id = item.Product.Id_SanPham })"><i class="fa fa-minus"></i> Giảm số lượng </a>

                                                <input type="text" value=" @item.Quantity">
                                                @*<button class="btn-plus"><i class="fa fa-plus"></i></button>*@
                                                <a class="btn-minus" href="@Url.Action("Tang", "Product", new { id = item.Product.Id_SanPham })"><i class="fa fa-plus"></i> Tăng Số lượng </a>


                                            </div>
                                        </div>
                                        <div class="p-size">
                                            <h4>Size:</h4>
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn">S</button>
                                                <button type="button" class="btn">M</button>
                                                <button type="button" class="btn">L</button>
                                                <button type="button" class="btn">XL</button>
                                            </div>
                                        </div>
                                        <div class="p-color">
                                            <h4>Color:</h4>
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn">White</button>
                                                <button type="button" class="btn">Black</button>
                                                <button type="button" class="btn">Blue</button>
                                            </div>
                                        </div>
                                        <div class="p-color">

                                            <div class="btn-group btn-group-sm">
                                                <a href="@Url.Action("Remove", "Product", new { id = item.Product.Id_SanPham })">Xóa sản phẩm </a>
                                            </div>
                                        </div>
                                        <div class="action">
                                            @*<a class="btn" href=""><i class="fa fa-shopping-cart"></i>Add to Cart</a>*@
                                            <a class="btn" href="@Url.Action("Buy", "Cart", new { id = item.Product.Id_SanPham })"><i class="fa fa-shopping-bag"></i>Xác nhận mua</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Chi tiết sản phẩm</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#reviews">Góp ý về sản phẩm (1)</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <h4>Chi tiết</h4>
                                        <p>
                                            @foreach (DTO_Item_Client item in (List<DTO_Item_Client>
                                            )Session["cart"])
                                            {
                                                @item.Product.Details
                                            }
                                        </p>
                                    </div>

                                    <div id="reviews" class="container tab-pane fade">
                                        <div class="reviews-submitted">
                                            <div class="reviewer"> Để lại đánh giá của bạn - <span>@DateTime.Today</span></div>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            
                                        </div>
                                        <div class="reviews-submit">
                                            <h4>Để lại phản hồi của bạn</h4>
                                            <div class="ratting">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="row form">
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="Name">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="email" placeholder="Email">
                                                </div>
                                                <div class="col-sm-12">
                                                    <textarea placeholder="Nhập nội dung"></textarea>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button>Gửi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                <!-- Side Bar Start -->
                <!-- Side Bar End -->
            </div>
        </div>
    </div>

</div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>


